* {
  font-family: sans-serif;
}

/**Also just wanted to say if you are viewing this and you noticed how I added the style element in the head section of each question file, it was because the external link was not working for some odd reason./**/

.btn {
  position: relative;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  background-color: lightblue;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

.btn:hover {
  background-color: powderblue;
}

.next-btn {
  position: relative;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  background-color: lightblue;
  color: black;
  cursor: pointer;
  overflow: hidden;
  align-content: right;
  float: right;
}

.next-btn:hover {
  background-color: powderblue;
}

.back-btn {
  position: relative;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  background-color: lightblue;
  color: black;
  cursor: pointer;
  overflow: hidden;
  align-content: left;
  float: left;
}

.back-btn:hover {
  background-color: powderblue;
}

.parent {
  height: 230px;
  background: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  background-color: antiquewhite;
  width: 550px;
  height: 100px;
}

.option {
  background-color: gray;
  text-align: center;
  border: black solid 3px;
  width: 600px;
  padding-top: 20%;
  font-weight: bolder;
  padding-top: 5%;
}

.option:hover {
  background-color: lightgray;
  cursor: pointer;
}

.submit-btn {
  position: relative;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin-top: 20px;
  margin-right: 170px;
  font-weight: bold;
  background-color: lightblue;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

.submit-btn:hover {
  background-color: powderblue;
}

